body
{
    margin:0;
    position:fixed;
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
    
}
h2{
    position: absolute;
    top:0%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:150px;
    color:rgb(102, 166, 226);
    z-index: 1;  
}
h3{
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:90px;
    color:rgb(200, 218, 40);
    z-index: 1;  
}

.menu
{
    position: absolute;
    top:45%;
    left:25%;
    transform: translate(-50%, -50%);

    font-size:85px;
    color:rgb(102, 166, 226);
}

.all-color
{
    position: absolute;
    top:60%;
    left:30%;
    transform: translate(-50%, -50%);

    font-size:85px;
    color:rgb(102, 166, 226);
}
.all
{
    position: absolute;
    top:75%;
    left:50%;
    transform: translate(-50%, -50%);

    font-size:85px;
    color:rgb(102, 166, 226);
}

.back{
    position: absolute;
    top:90%;
    left:90%;
    transform: translate(-50%, -50%);

    font-size:85px;
    color:rgb(15, 5, 71);
}

.member{
    position: absolute;
    top:90%;
    left:15%;
    transform: translate(-50%, -50%);

    font-size:85px;
    color:rgb(255, 255, 255);
}

.youtube
{
    position:fixed;
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
    
}
.c1
{
    position: absolute;
    top:45%;
    left:75%;
    transform: translate(-50%, -50%);

    font-size:85px;
    color:rgb(102, 166, 226);
}
.c2
{
    position: absolute;
    top:60%;
    left:70%;
    transform: translate(-50%, -50%);

    font-size:85px;
    color:rgb(102, 166, 226);
}
.c3
{
    position: absolute;
    top:45%;
    left:40%;
    transform: translate(-50%, -50%);

    font-size:85px;
    color:rgb(102, 166, 226);
}
.c4
{
    position: absolute;
    top:45%;
    left:60%;
    transform: translate(-50%, -50%);

    font-size:85px;
    color:rgb(102, 166, 226);
}