body
{
    margin:0;
    position:fixed;
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
}

h1{
    position: absolute;
    top:0%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:150px;
    color:rgb(102, 166, 226);
    
}
.back-menu
{
    position: absolute;
    top:90%;
    left:90%;
    transform: translate(-50%, -50%);

    font-size:80px;
    color:rgb(255, 255, 0);
    
}
.p1{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:150px;
}